#loginForgetPassword {
  text-align: center;
  padding-bottom: 30pt;
  border-bottom: thin solid #C0C0C0;
}

.selected {
  background-color: #e9e9e9 !important;
  border-left: thick solid #bbb !important;
}

.powerOn {
  background-color: #33CC00 !important;
}

.powerOff {
  background-color: #F80000 !important;
}
